body{
    margin: 0;
    padding: 0;
    background-color: #ccee66;
    color: #fff;
    padding: 20px 60px;
    height: 100vh;
    font-family: "Noto Sans", sans-serif;

    overflow: hidden; /* para esconder a barra de rolagem  ou tudo que sobra*/
}

body::before{
    content: '';
    background-color:#202020;
    position: absolute;
    transform: rotate(-70deg);
    top: 0;
    left: -600px;
    width: 100%;
    height: 131%;
}

body::after{
    content: 'NIke';
    position: absolute;
    top: 30%;
    left: 30%;
    color: black;
    font-size: 200px;
    font-weight: bold;
    transform: rotate(-50%, -50%);
    opacity: 0.5;
}

.logo {
    width: 80px;
}

.caixa-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    position: relative;/* para ficar por cima de tudo*/
    z-index: 1;  /* para ficar por cima de tudo*/
}

.caixa-sec{
    width: 400px;
}

h1{
    font-size: 60px;
}

.caixa-sec h4 {
    font-size: 30px;
}

.caixa-sec p{
    font-size:16px ;
    margin-bottom: 40px;
}

.btn-adcionar{
    padding: 10px 20px;
    background-color: #a3be52;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition:  0.5s ;
}

.btn-adcionar:hover {
    opacity: 0.8;
}

.imagem-tenis{
    width: 800px;
    transform: rotate(-25deg);
    filter: drop-shadow(30px 45px 40px #161616);
    transition: 1s;
}

.troca-efeito{
    opacity: 0;
    transform: rotate(-25deg)  translateY(-30px);
}

.caixa-botoes{
    z-index: 2;
    position: absolute;
    display: flex;
    gap: 10px;
    padding-top: 30px;
}

.botoes{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.botoes:active {  
    opacity: 0.6;
}

.tenis {
    width: 100%;
}

.verde{
    background-color: #ccee66;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.rosa{
    background-color: #ff9eb5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.azul{
    background-color: #58cced;
    display: flex;
    align-items: center;
    justify-content: center;
}


